html{
    box-sizing: border-box;
}

/* The global scope */
:root{
    --main-bg-color:#ccc;
    --main-tx-color:#333;
    --main-ft-family:sans-serif;
    --main-container-width:90%;
    --gap:20px;
}

body{
    margin:0;
    background-color: var(--main-bg-color);
    color: var(--main-tx-color);
    font-family: var(--main-ft-family);
}

h1{
    text-align: center;
    padding: 20px;
}

.container{
    width: var(--main-container-width);
    margin: 0 auto;
}

/* Defining the grid */
.grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: 1fr;
    grid-gap: var(--gap);
    place-content: center;
}

/* Defining the variables for box*/
.box{
    --box-bg-color:#ddd;
    --box-bg-color-from:pink;
    --box-bg-color-to:lightgreen;
    --box-main-color: @211c6b;
    --box-padding: 5px 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

/* Defining the box */
.box{
    text-align: center;
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow:
    var(--box-shadow-v-offset)
    var(--box-shadow-v-offset)
    var(--box-shadow-blur);
}

.box h1{
    /* Change --box-main-color locally */
    --box-main-color:black;
    color:var(--box-main-color);
    padding-bottom: 50px;
}

@keyframes change-color {
    from{
        background-color: var(--box-bg-color-from);
        transform: scale(0.9,0.9);
    }
    to{
        background-color: var(--box-bg-color-to);
        transform: scale(1.1,1.1);
    }
}
.change-color:hover{
    animation: change-color 0.7s ease-in-out infinite alternate;
}

.balls{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.ball{
    width: 75px;
    height: 75px;
    background: slateblue;
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 50%;
  } 

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(
        var(--bounce-offset)
      );
    }
  }

  .ball {
    animation:
      bounce alternate infinite
      cubic-bezier(.2, .65, .6, 1);
  }
  .ball.one {
    --bounce-offset: -20px;
    animation-duration: 200ms;
  }
  .ball.two {
    --bounce-offset: -30px;
    animation-duration: 300ms;
  }
  .ball.three {
    --bounce-offset: -40px;
    animation-duration: 400ms;
  }